In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, VotingRegressor
import seaborn as sns
import xgboost as xgb
from xgboost import XGBClassifier
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from catboost import CatBoostClassifier
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor
os.getcwd()

'/Users/tahirabbas'

In [2]:
os.chdir('/Users/tahirabbas/Desktop/imp')

In [40]:
import pandas as pd
df = pd.read_csv('dataset9000.csv')
df1 = pd.read_csv('dataset9000.csv')
df.tail(5)

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,AI ML,Software Engineering,Business Analysis,Communication skills,Data Science,Troubleshooting skills,Graphics Designing,Role
9174,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Poor,Poor,Professional,Graphics Designer
9175,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Beginner,Beginner,Professional,Graphics Designer
9176,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Average,Average,Professional,Graphics Designer
9177,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Intermediate,Intermediate,Professional,Graphics Designer
9178,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Excellent,Excellent,Professional,Graphics Designer

In [4]:
df.shape

(9179, 18)

In [5]:
df["Role"].unique()

array(['Database Administrator', 'Hardware Engineer',
       'Application Support Engineer', 'Cyber Security Specialist',
       'Networking Engineer', 'Software Developer', 'API Specialist',
       'Project Manager', 'Information Security Specialist',
       'Technical Writer', 'AI ML Specialist', 'Software tester',
       'Business Analyst', 'Customer Service Executive', 'Data Scientist',
       'Helpdesk Engineer', 'Graphics Designer'], dtype=object)

In [6]:
df.columns

Index(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Communication skills',
       'Data Science', 'Troubleshooting skills', 'Graphics Designing', 'Role'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder

for column in df.columns:
    if df[column].dtype == 'object':
        label_encoder = LabelEncoder()
        df[column + '_encoded'] = label_encoder.fit_transform(df[column])
df.tail(5)

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,...,Computer Forensics Fundamentals_encoded,Technical Communication_encoded,AI ML_encoded,Software Engineering_encoded,Business Analysis_encoded,Communication skills_encoded,Data Science_encoded,Troubleshooting skills_encoded,Graphics Designing_encoded,Role_encoded
9174,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,...,4,4,4,4,4,4,5,5,6,8
9175,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,...,4,4,4,4,4,4,1,1,6,8
9176,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,...,4,4,4,4,4,4,0,0,6,8
9177,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,...,4,4,4,4,4,4,3,3,6,8
9178,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,...,4,4,4,4,4,4,2,2,6,8

In [8]:
df.drop(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Communication skills',
       'Data Science', 'Troubleshooting skills', 'Graphics Designing', 
       'Role_encoded'],axis=1,inplace=True)
df.head(5)

,Role,Database Fundamentals_encoded,Computer Architecture_encoded,Distributed Computing Systems_encoded,Cyber Security_encoded,Networking_encoded,Software Development_encoded,Programming Skills_encoded,Project Management_encoded,Computer Forensics Fundamentals_encoded,Technical Communication_encoded,AI ML_encoded,Software Engineering_encoded,Business Analysis_encoded,Communication skills_encoded,Data Science_encoded,Troubleshooting skills_encoded,Graphics Designing_encoded
0,Database Administrator,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
1,Database Administrator,6,5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
2,Database Administrator,6,1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
3,Database Administrator,6,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
4,Database Administrator,6,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [9]:
df.columns

Index(['Role', 'Database Fundamentals_encoded',
       'Computer Architecture_encoded',
       'Distributed Computing Systems_encoded', 'Cyber Security_encoded',
       'Networking_encoded', 'Software Development_encoded',
       'Programming Skills_encoded', 'Project Management_encoded',
       'Computer Forensics Fundamentals_encoded',
       'Technical Communication_encoded', 'AI ML_encoded',
       'Software Engineering_encoded', 'Business Analysis_encoded',
       'Communication skills_encoded', 'Data Science_encoded',
       'Troubleshooting skills_encoded', 'Graphics Designing_encoded'],
      dtype='object')

In [10]:
y=target=df["Role"]
y

0       Database Administrator
1       Database Administrator
2       Database Administrator
3       Database Administrator
4       Database Administrator
                 ...
9174         Graphics Designer
9175         Graphics Designer
9176         Graphics Designer
9177         Graphics Designer
9178         Graphics Designer
Name: Role, Length: 9179, dtype: object

In [11]:
df.drop(["Role"],axis=1,inplace=True)
df.tail(3)

,Database Fundamentals_encoded,Computer Architecture_encoded,Distributed Computing Systems_encoded,Cyber Security_encoded,Networking_encoded,Software Development_encoded,Programming Skills_encoded,Project Management_encoded,Computer Forensics Fundamentals_encoded,Technical Communication_encoded,AI ML_encoded,Software Engineering_encoded,Business Analysis_encoded,Communication skills_encoded,Data Science_encoded,Troubleshooting skills_encoded,Graphics Designing_encoded
9176,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,6
9177,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3,6
9178,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,2,6

In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

target_column = y

features = df

X_train, X_test, y_train, y_test = train_test_split(features, y, test_size=0.2, random_state=42)

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)


y_pred = rf_model.predict(X_test)
y_proba = rf_model.predict_proba(X_test)

accuracy = accuracy_score(y_test, y_pred)

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, classification_report

target_column = 'y'

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)

cat_model = CatBoostClassifier(iterations=100, random_state=42, verbose=0)
cat_model.fit(X_train, y_train, cat_features=np.where(X_train.dtypes != float)[0])

y_pred = cat_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred, target_names=np.unique(y_test))

print(f"Classification Report:\n{report}")

Classification Report:
                                 precision    recall  f1-score   support

               AI ML Specialist       1.00      1.00      1.00       117
                 API Specialist       1.00      1.00      1.00       103
   Application Support Engineer       1.00      1.00      1.00       115
               Business Analyst       1.00      1.00      1.00       108
     Customer Service Executive       1.00      1.00      1.00        99
      Cyber Security Specialist       1.00      1.00      1.00       104
                 Data Scientist       1.00      1.00      1.00       113
         Database Administrator       1.00      1.00      1.00       120
              Graphics Designer       1.00      1.00      1.00        91
              Hardware Engineer       1.00      1.00      1.00       102
              Helpdesk Engineer       1.00      1.00      1.00       100
Information Security Specialist       1.00      1.00      1.00       105
            Networking Engineer       1.00      1.00      1.00       105
                Project Manager       1.00      1.00      1.00        96
             Software Developer       1.00      1.00      1.00       118
                Software tester       1.00      1.00      1.00       117
               Technical Writer       1.00      1.00      1.00       123

                       accuracy                           1.00      1836
                      macro avg       1.00      1.00      1.00      1836
                   weighted avg       1.00      1.00      1.00      1836

In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, classification_report

target_column = 'y'

X_train_cat, X_test_cat, y_train_cat, y_test_cat = train_test_split(df, y, test_size=0.2, random_state=42)
X_train_rf, X_test_rf, y_train_rf, y_test_rf = train_test_split(df, y, test_size=0.2, random_state=42)

cat_model = CatBoostClassifier(iterations=100, random_state=42, verbose=0)
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

voting_classifier = VotingClassifier(
    estimators=[
        ('cat', cat_model),
        ('rf', rf_model)
    ],
    voting='soft' 
)

voting_classifier.fit(X_train_cat, y_train_cat)

y_pred_soft = voting_classifier.predict(X_test_cat)

accuracy_soft = accuracy_score(y_test_cat, y_pred_soft)
report_soft = classification_report(y_test_cat, y_pred_soft, target_names=np.unique(y_test_cat))

print(f"Classification Report (Soft Voting):\n{report_soft}")

Classification Report (Soft Voting):
                                 precision    recall  f1-score   support

               AI ML Specialist       1.00      1.00      1.00       117
                 API Specialist       1.00      1.00      1.00       103
   Application Support Engineer       1.00      1.00      1.00       115
               Business Analyst       1.00      1.00      1.00       108
     Customer Service Executive       1.00      1.00      1.00        99
      Cyber Security Specialist       1.00      1.00      1.00       104
                 Data Scientist       1.00      1.00      1.00       113
         Database Administrator       1.00      1.00      1.00       120
              Graphics Designer       1.00      1.00      1.00        91
              Hardware Engineer       1.00      1.00      1.00       102
              Helpdesk Engineer       1.00      1.00      1.00       100
Information Security Specialist       1.00      1.00      1.00       105
            Networking Engineer       1.00      1.00      1.00       105
                Project Manager       1.00      1.00      1.00        96
             Software Developer       1.00      1.00      1.00       118
                Software tester       1.00      1.00      1.00       117
               Technical Writer       1.00      1.00      1.00       123

                       accuracy                           1.00      1836
                      macro avg       1.00      1.00      1.00      1836
                   weighted avg       1.00      1.00      1.00      1836

In [21]:
new_data= [6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
new_predictions = voting_classifier.predict([new_data])

print(new_predictions)

['Database Administrator']

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [37]:
r = df.iloc[100].tolist()
print(r)

[6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [38]:
y[100]

'Database Administrator'

In [15]:
df.columns

Index(['Database Fundamentals_encoded', 'Computer Architecture_encoded',
       'Distributed Computing Systems_encoded', 'Cyber Security_encoded',
       'Networking_encoded', 'Software Development_encoded',
       'Programming Skills_encoded', 'Project Management_encoded',
       'Computer Forensics Fundamentals_encoded',
       'Technical Communication_encoded', 'AI ML_encoded',
       'Software Engineering_encoded', 'Business Analysis_encoded',
       'Communication skills_encoded', 'Data Science_encoded',
       'Troubleshooting skills_encoded', 'Graphics Designing_encoded'],
      dtype='object')

In [39]:
user_input = {}

user_input['Database Fundamentals_encoded'] = float(input("Enter Database Fundamentals_encoded: "))
user_input['Computer Architecture_encoded'] = float(input("Enter Computer Architecture_encoded: "))
user_input['Distributed Computing Systems_encoded'] = float(input("Enter Distributed Computing Systems_encoded: "))
user_input['Cyber Security_encoded'] = float(input("Enter Cyber Security_encoded: "))
user_input['Networking_encoded'] = float(input("Enter Networking_encoded: "))
user_input['Software Development_encoded'] = float(input("Enter Software Development_encoded: "))
user_input['Programming Skills_encoded'] = float(input("Enter Programming Skills_encoded: "))
user_input['Project Management_encoded'] = float(input("Enter Project Management_encoded: "))
user_input['Computer Forensics Fundamentals_encoded'] = float(input("Enter Computer Forensics Fundamentals_encoded: "))
user_input['Technical Communication_encoded'] = float(input("Enter Technical Communication_encoded: "))
user_input['AI ML_encoded'] = float(input("Enter AI ML_encoded: "))
user_input['Software Engineering_encoded'] = float(input("Enter Software Engineering_encoded: "))
user_input['Business Analysis_encoded'] = float(input("Enter Business Analysis_encoded: "))
user_input['Communication skills_encoded'] = float(input("Enter Communication skills_encoded: "))
user_input['Data Science_encoded'] = float(input("Enter Data Science_encoded: "))
user_input['Troubleshooting skills_encoded'] = float(input("Enter Troubleshooting skills_encoded: "))
user_input['Graphics Designing_encoded'] = float(input("Enter Graphics Designing_encoded: "))

new_data = pd.DataFrame(user_input, index=[0])

new_predictions = voting_classifier.predict(new_data)

print("Predicted Role:", new_predictions[0])

Enter Database Fundamentals_encoded: 6
Enter Computer Architecture_encoded: 3
Enter Distributed Computing Systems_encoded: 3
Enter Cyber Security_encoded: 3
Enter Networking_encoded: 3
Enter Software Development_encoded: 3
Enter Programming Skills_encoded: 3
Enter Project Management_encoded: 3
Enter Computer Forensics Fundamentals_encoded: 3
Enter Technical Communication_encoded: 3
Enter AI ML_encoded: 3
Enter Software Engineering_encoded: 3
Enter Business Analysis_encoded: 3
Enter Communication skills_encoded: 3
Enter Data Science_encoded: 3
Enter Troubleshooting skills_encoded: 3
Enter Graphics Designing_encoded: 3
Predicted Role: Database Administrator